# ROOT FOLDERS
/.tox
/.vscode
/bat
/build
/config
/dist
/logs
/notes
/payloads

# ROOT FILES
/*.egg-info
/*.py
!/setup.py

# FOLDERS
__pycache__

# FILES
!*template.json
*.bat
*.csv
*.db
*.json
*.ini
*.ipynb
*.log
*.sh
*.txt
*.xlsx
*.pickle