# ROOT FOLDERS
/.tox
/.vscode
/bat
/build
/config
/dist
/logs
/notes
/payloads

# ROOT FILES
/*.egg-info
/*.py
!/setup.py

# FOLDERS
__pycache__

# FILES
.coverage
*.bat
*.csv
*.db
*.json
*.ini
*.ipynb
*.log
*.pickle
*.sh
*.txt
*.xlsx
*.lock
!*template.json
!pytest.ini